:root{
    --box-height: 220px;
    --box-width: 26%;
    --box-border-radius: 5px;
}

html{
    margin: auto;
    
}


body {
    background-color: whitesmoke;
    padding-top: 60px;
    margin: 0;
}

header {
    background-color: rgb(100, 100, 100);
    position: fixed;
    top: 0;
    width:100%;
    height: 40px;
    align-self: center;
    font-size: larger;
    padding-top: 20px;
    padding-left: 40px;
}

div.action {
    display: flex;     
}

section.bank {
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    width: var(--box-width);
    height: var(--box-height);
    border-radius: var(--box-border-radius); 
}

section.worker {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    width: var(--box-width);
    height: var(--box-height);
    border-radius: var(--box-border-radius); 
}

section.store {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    width: var(--box-width / 2);
    height: var(--box-height);
    border-radius: var(--box-border-radius); 
}

h3.store {
    margin-bottom: 0;
    margin-top: 7px;
}

section.computer{
    margin-left: 10px;
    justify-content: center;
    padding-left: 20px;
    height: 260px;
    width: 71%;
    background-color: lightgray;
    border-radius: var(--box-border-radius);
    border-style: solid;
}

div.computer-buy-div {
}

p{
    text-anchor:middle;   
}

section.laptop-specs {
    background-color: gray;
}
